html, body, .off-canvas-wrap, .inner-wrap, .main-section
{
  height: 100%;
}

.main-section {
	overflow: auto;
}

input[type="text"], .button {
	border: 0 0 1px 0 solid #eee;
	margin: 5px 0 5px 0;
}

.image-thumbnail {
	width: 100%;
	height: auto;
	padding: 0;
	box-shadow: 1px 5px 5px #000;
	display: table-cell;
	vertical-align: middle;
}

.image-category {
	width: 50px;
	height: 50px;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.image-list {
	width: 20px;
	height: 20px;
	float: left;
	position: absolute;
}

p.tiny-text {
	font-style: 10px;
	margin: 0;
	margin-bottom: 1px;
}

p.margin-left {
	margin: 0;
	margin-left: 30px;
}

.login-container {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	/*opacity: 0.9;*/
	background: url('../background/bluejeans.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}