<!DOCTYPE html>
<html>
<head>
	<title>Sample | Category</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</section>

				<section class="middle tab-bar-section">
					<h1 class="title">CLOTHES ORGANIZER</h1>
				</section>
			</nav>

			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list">
					<li><label>CATEGORIES</label></li>
					<li><a href="home">All Clothes</a></li>
					
					{% if categories %}
						{% for category in categories: %}
							<li>
								<a href="?category={{ category.id }}">
									<img src="{{ url_for('static', filename=category.icon) }}" class="image-list">
									<p class="margin-left">{{ category.name }}</p>
								</a>
							</li>
						{% endfor %}
					{% endif %}

					<li><label>SETTINGS</label></li>
					<li><a href="category">All Categories</a></li>
					<li><label>ACCOUNT</label></li>
					<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
				</ul>
			</aside>

			<section class="main-section">
			<!-- content goes here -->
				<br/>
				<div class="row text-center">
					<div class="large-12 large-centered columns">
						<table role="grid">
							<thead>
								<tr>
									<th width="100">Icon</th>
									<th width="300">Name</th>
									<th width="400">Description</th>
									<th width="200">Action</th>
								</tr>
							</thead>
							<tbody>
								<!-- <form action="" method="POST">
									<tr>
										<td><select style="margin:0;"></select></td>
										<td><input type="text" name="name" placeholder="Name"></td>
										<td><input type="text" name="description" placeholder="Description"></td>
										<td class="text-center"><a href="add?option=category" class="tiny button success radius">Add</a></td>
									</tr>
								</form> -->
								{% if categories %}
									{% for category in categories %}
										<tr>
											<td class="text-center"><img src="{{ url_for('static', filename=category.icon) }}" class="th image-category"></td>
											<td>{{ category.name }}</td>
											<td>{{ category.description }}</td>
											<td class="text-center">
												<a href="edit?option=category&id={{ category.id }}" class="tiny button radius">Edit</a>
												<a href="delete?option=category&id={{ category.id }}" class="tiny button alert radius">Delete</a>
											</td>
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</section>

			<a class="exit-off-canvas"></a>

		</div>
	</div>

	<script type=text/javascript src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/foundation.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/foundation.offcanvas.js') }}"></script>
	<script>
		$(document).foundation();
	</script>

</body>
</html>