<!DOCTYPE html>
<html>
<head>
	<title>Sample | Home</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</section>

				<section class="middle tab-bar-section">
					<h1 class="title">CLOTHES ORGANIZER</h1>
				</section>

				<section class="right tab-bar-section">
				  	<a href="{{ url_for('logout') }}" class="tiny button">LOG OUT</a>
				</section>
			</nav>

			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list">
					<li><label>CATEGORIES</label></li>
					<li><a href="home?category=0">All Clothes</a></li>
					
					{% if categories %}
						{% for category in categories: %}
							<li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
						{% endfor %}
					{% endif %}

					<li><label>SETTINGS</label></li>
					<li><a href="category">All Categories</a></li>
				</ul>
			</aside>

			<section class="main-section">
				<!-- content goes here -->
				<br/>
				<div class="row">
					{% if success %}
						<div class="large-12 large-centered columns">
							<div class="alert-box success">
								{{ success }}
							</div>
						</div>
					{% endif %}
					
					<div class="large-12 large-centered columns">
						<div class="row">
							{% if items %}
								{% for item in items %}
									<div class="large-4 columns text-center">
										<div class="panel radius">
		  									<p>
												<a class="th" href="">
													<img src="data:image/jpeg;base64,{{ item.image }}" class="image-thumbnail">
												</a>
											</p>
											<h5>{{ item.name }}</h5>
											<!-- <p class="tiny-text">{{ item.description }}</p> -->
											<p class="tiny-text">Tags: {{ item.tags }}</p>
										</div>
									</div>
								{% endfor %}
							{% endif %}

							<a href="#" data-reveal-id="myModal">
								<div class="large-4 columns text-center">
									<div class="panel radius" id="add_icon">
	  									<img src="{{ url_for('static', filename='plus.png') }}"  class="image-thumbnail" id="img_icon">
									</div>
								</div>
							</a>

							<div id="myModal" class="reveal-modal" style="width:500px;" data-reveal>
								<form action="add/item" method="POST">
									<div class="row text-center">
										<h3>Add an Item</h3>
										<p class="tiny-text">Please fill up all fields.</p>
										<div class="large-12 large-centered text-center">
											<label class="text-left">Item Name</label>
											<input type="text" name="name" required="true" placeholder="Name"/>
											<label class="text-left">Item Description</label>
											<input type="text" name="description" placeholder="Description" required="true" />
											<label class="text-left">Tags (separated by comma)</label>
											<input type="text" name="tags" placeholder="Tags" required="true"  />
											<label class="text-left">Category</label>
											<select name="category">
												{% for category in categories %}
													<option value="{{ category.id }}">{{ category.name }}</option>
												{% endfor %}
											</select>
											<input type="file" name="image" accept="image/*">

											<button type="submit" class="small button radius">Add</button>
										</div>
										<a class="close-reveal-modal">&#215;</a>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</section>

			<a class="exit-off-canvas"></a>

		</div>
	</div>

	<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='foundation.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='foundation.offcanvas.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='foundation.reveal.js') }}"></script>
	<script>
		$(document).foundation();
		$(document).ready(function() {
			columnW = $(".large-4").width();
			columnH = $(".large-4").height();
			$('#add_icon').css({"width":columnW, "height":columnH-"20", "display":"table-cell", "vertical-align":"middle", "padding":"0"})
		});
	</script>

</body>
</html>