<!DOCTYPE html>
<html>
<head>
	<title>Sample | Home</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="login-container">
	</div>
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</section>

				<section class="middle tab-bar-section">
					<h1 class="title">CLOTHES ORGANIZER</h1>
				</section>
			</nav>

			<aside class="left-off-canvas-menu">
				<ul class="off-canvas-list">
					<li><label>CATEGORIES</label></li>
					<li><a href="home">All Clothes</a></li>
					
					{% if categories %}
						{% for category in categories: %}
							<li>
								<a href="?category={{ category.id }}">
									<img src="{{ url_for('static', filename=category.icon) }}" class="image-list">
									<p class="margin-left">{{ category.name }}</p>
								</a>
							</li>
						{% endfor %}
					{% endif %}

					<li><label>SETTINGS</label></li>
					<li><a href="category">All Categories</a></li>
					<li><label>ACCOUNT</label></li>
					<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
				</ul>
			</aside>

			<section class="main-section">
				<!-- content goes here -->
				<br/>
				
				<div class="row text-center">
					{% if success %}
						<div class="large-12 large-centered columns">
							<div class="alert-box success">
								{{ success }}
							</div>
						</div>
					{% endif %}
					
					<div class="large-12 large-centered columns">
						<div class="row text-center">
							
							<ul class="large-block-grid-4 text-center">
								{% if items %}
									{% for item in items %}									
										<li>
											<img src="{{ url_for('static', filename=item.image) }}" class="th image-thumbnail">
											<!-- <div style="margin:0;padding:0;position:absolute;top:0;width:25%;background-color:red;height:250px;border:1px solid #ddd;box-shadow:1px 1px 1px #eee;"> -->
												<!-- {{ item.name }} -->
											<!-- </div> -->
										</li>
										
									{% endfor %}
								{% endif %}
									
								<li id="add_icon"><a href="#" data-reveal-id="myModal">
  									<img src="{{ url_for('static', filename='icons/plus3.jpg') }}"  class="th image-thumbnail" id="img_icon">
								</a></li>
							</ul>
							

							<div id="myModal" class="reveal-modal" style="width:500px;" data-reveal>
								<form action="add/item" method="POST" enctype="multipart/form-data">
									<div class="row text-center">
										<h3>Add an Item</h3>
										<p class="tiny-text">Please fill up all fields.</p>
										<div class="large-12 large-centered text-center">
											<label class="text-left">Item Name</label>
											<input type="text" name="name" placeholder="Name"/>
											<label class="text-left">Item Description</label>
											<input type="text" name="description" placeholder="Description" />
											<label class="text-left">Tags (separated by comma)</label>
											<input type="text" name="tags" placeholder="Tags"  />
											<label class="text-left">Category</label>
											<select name="category">
												{% for category in categories %}
													<option value="{{ category.id }}">{{ category.name }}</option>
												{% endfor %}
											</select>
											<input type="file" name="image" accept="image/*">

											<button type="submit" class="small button radius">Add</button>
										</div>
										<a class="close-reveal-modal">&#215;</a>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
				<br/><br/>
			</section>

			<a class="exit-off-canvas"></a>
		</div>
	</div>

	<script type=text/javascript src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/foundation.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/foundation.offcanvas.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/foundation.reveal.js') }}"></script>
	<script>
		$(document).foundation();
		$(document).ready(function() {
			// columnW = $("ul.large-block-grid-4 li").width();
			// $('.image-thumbnail').css({"height":columnW+"20", "padding":"0"});
		});
	</script>

</body>
</html>