<!DOCTYPE html>
<html>
<head>
	<title>Sample | Home</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Sample</a></h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="has-form">
					  	<a href="{{ url_for('logout') }}" class="button small">LOG OUT</a>
					</li>
				</ul>
			</section>
		</nav>
	</div>

	<br/>


	<div class="row text-center">
		<div class="large-12 large-centered columns">
			<table role="grid">
				<thead>
					<tr>
						<th width="150">ID</th>
						<th width="200">Username</th>
						<th width="250">Start Date</th>
						<th width="250">End Date</th>
						<th width="150">Status</th>
					</tr>
				</thead>
				<tbody>
					{% if logs %}
						{% for log in logs %}
							<tr>
								<td>{{ log.id }}</td>
								<td>{{ log.username }}</td>
								<td>{{ log.start_date }}</td>
								<td>{{ log.end_date }}</td>
								<td>{{ log.status }}</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
			<br/>
			<a href="/add" class="button small">ADD LOG</a>
		</div>
	</div>

	<script type=text/javascript src="{{ url_for('static', filename='foundation.min.js') }}"></script>

</body>
</html>