<!DOCTYPE html>
<html>
<head>
	<title>Sample | Login</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.min.css') }}">
</head>
<body>

	<br/>

	<form action="" method="post">
		<div class="row">
			<div class="large-6 large-centered columns text-center">
				<div class="panel clearfix">
					<h3>Welcome!</h3>
					<p>Please login to continue.</p>
					
					<div class="row">
						<div class="large-9 large-centered columns">
							<input type="text" name="username" placeholder="Username" required="true">
						</div>
					</div>
					<div class="row">
						<div class="large-9 large-centered columns">
							<input type="password" name="password" placeholder="Password" required="true">
						</div>
					</div>

					{% if error %}
						<div class="row">
							<div class="large-9 large-centered columns">
								<div data-alert class="alert-box alert radius">
									{{ error }}
									<a href="#" class="close">&times;</a>
								</div>
							</div>
						</div>
					{% endif %}

					<div class="row">
						<div class="large-9 large-centered columns">
							<p class="small">Signup <a href="/signup">here</a> to create an account.</p>
						</div>
					</div>
					<div class="row">
						<div class="large-9 large-centered columns">
							<input type="submit" value="LOGIN" class="button radius small">
						</div>
					</div>
				</div>
			</div>
		</div>
    </form>

    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='foundation.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='foundation.alert.js') }}"></script>
	<script>
		$(document).foundation();
	</script>

</body>
</html>